.sectionHeader {
  padding: 1.2rem 2.4rem;
  background-color: rgba(29, 53, 87, 0.9);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sectionHeader img {
  width: 6.2rem;
  height: 6.2rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  max-width: 140rem;
  margin: 0 auto;
}

.headerTextLogo {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.headerCart {
  width: 3rem;
  height: 3rem;
}

.sectionHeader a:link,
a:visited {
  text-decoration: none;
  color: var(--color-text--1);
}

.sectionHeader svg {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
.sectionHeader svg:hover {
  color: var(--color-brand--2);
  transform: scale(1.05);
}

.sectionHeader button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(+50%, -50%);
  background: var(--color-brand--2);
  color: var(--color-brand--1);
  border: none;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  border-radius: 50%;
  font-weight: bold;
}

.container {
  position: relative;
}
