.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  background-color: rgba(29, 53, 87, 0.9);
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
}

.navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}
.navbar a:visited {
  color: var(--color-text--1);
}
.navbar a:hover {
  color: var(--color-brand--2);
}
